body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
}

header {
    background-color: #000000;
    color: white;
    padding: 20px;
}

button {
    background-color: #01b4e4;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #0d253f;
}

#search-form {
    margin: 20px;
}

input, select {
    padding: 8px;
    font-size: 1rem;
}

/* CSS Grid för att visa korten snyggt */
#results-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Design på korten */
.card {
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    opacity: 0; /* Osynlig först, animeras in */
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-info {
    padding: 15px;
    text-align: left;
}

.card h3 {
    font-size: 1.1rem;
    margin: 0 0 10px 0;
}

#error-message {
    color: red;
    font-weight: bold;
}
.card-info p {
    margin: 5px 0;
    color: #555;
}

.card-info .date {
    font-size: 0.9rem;
    font-weight: bold;
}

.card-info .desc {
    font-size: 0.85rem; 
    line-height: 1.4;
}